* {
    box-sizing: border-box;
  }

.clearfix::after{
    display: table;
    content: "";
}
  
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
  
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
.section-1 h4{
    padding: 30px 0 20px 0;
    font-weight: bold;
}

.nav-link {
    display: block;
    padding: 0.5rem 0rem;
}

.right-txt .nav-item{
    margin: 10px 15px 0 0;
}

.carousel-inner{
    width: 400px;
    margin-bottom: 30px;
}

.section-1 #date-price p{
    font-weight: bold;
    padding-top: 40px;
}

/* .section-1 .carousel-control-prev{
  margin-left: 315px;
  margin-bottom: 30px;
} */

/* .section-1 .carousel-control-next{
    margin-right: 320px;
    margin-bottom: 30px;
  } */


.section-2 a{
    color:gray;
    text-decoration: none;
}

.section-2 a:hover{
    color: #099573;
}

.section-2 span{
    font-weight: bold;
}

.section-3 h5{
    padding: 30px 0 20px 0;
    font-weight: bold;
}

.carousel-inner img {
    display: block;
    max-width: 400px;
    margin: 0 auto;
    height: 60vh;
    object-fit: contain;
}

.carousel-control-prev{
    bottom: 15%;
    left: -3%;
}
 
.carousel-control-next{
    bottom: 15%;
    right: -3%;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon{
    background-image: none;
}

.carousel-control-prev-icon::before, 
.carousel-control-next-icon::before{
    font-family: "FontAwesome";
    font-weight: 900;
    color: #01C292;
    font-size: 4rem;

}
.carousel-control-prev-icon::before{
    content: "\f104";
}

.carousel-control-next-icon::before{
    content: "\f105";
}

.carousel-indicators {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.carousel-indicators li{
    width: 20%;
    height: auto;
    border: 1px solid gray;
}

#custCarousel .carousel-indicators li img {
    display: block;
    width: 100%;
    max-height:200px;
    width: auto;
    height: 66vh;
    object-fit: contain;
}

#custCarousel .carousel-indicators li.active{
    border: 1px solid #01C292;
}

.carousel-item img {
    width: 80%
}

@media only screen and (min-width: 320px) and (max-width: 640px){
    .container{
        padding: 0px 35px;
    }

   .section-1 h4{
       padding-left: 10px;
   }

    .carousel-inner{
        width: 250px;
        margin-bottom: 5px;
    }

    .carousel-control-prev-icon::before, 
    .carousel-control-next-icon::before{
        font-size: 3rem;
    }

    .carousel-control-prev{
        bottom: 15%;
        left: -4%;
    }
 
    .carousel-control-next{
        bottom: 15%;
        right: -4%;
    }
    #custCarousel .carousel-indicators li img { 
        height: 9vh;
    }
    
    .section-1 p,
    .section-2 p,
    .section-3 p{
        font-size: 14px;
    }

    .section-2 #sp-width{
        width: 100%;
    }

    .section-2 tr{
        font-size: 14px;
    }

}