* {
    box-sizing: border-box;
  }
  .sp{
    display: none;
  }
  .pc{
      display: block;
  }
  nav{
      background-color: #fff;
      font: weight 500px;;
  }
  nav .container .nav-right .right-txt a:hover{
      color:gray;
  }
 nav a:hover {
    color: #099573;
 }
  nav .container #logo-img img{
      width: 30px;
      height: 30px;
  }
  nav .container #nav-right{
      float: right;
  }
  nav .container #nav-right li{
      float: left;
      list-style-type:none;
  }

  .banner{
      background-color: #f3f4f6;
      padding: 20px 0 100px 0;
  }
  .banner .container #bnr-radio label{
    font-weight: bold;
    font-size: large;
  }
  .banner .container .row #col{
      float: left;
      width: 20%;
  }
 #search-btn:hover{
      background-color: #099573;
  }
  .section-1 h4{
      padding: 30px 0 20px 0;
      font-weight: bold;
  }
  .section-2,.section-3{
    background-color: #f3f4f6;
  }
  .section-2 h4,.section-3 h4{
    font-weight: bold;
    padding: 30px 0 20px 0;
  }
  .footer{
    background-color:#01C292;
    padding: 10px;
    text-align: center;
  }
  .footer p{
    color:#fff;
    font-size:13px ;
}
@media only screen and (min-width: 280px) and (max-width: 480px){
    .sp{
        display: block;
    }
    .pc{
          display: none;
    }
    .banner .container .row #col{
        width: 100%;
    }
}
  
   

  